
@font-face {
  font-family: chopin;
  src: url("./assets/fonts/Chopin-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color:#fff1e2;
  --bg-fade: rgb(0.3 0.3 0.3 / 0.30);
  --left-padding: 2em;

}
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}  

body {
  display: flex;
  flex-direction: row; 
  height: 100vh;
}

.leftpanel {
  min-width: 40%;
  background-image: url("./assets/sydney_cropped.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  position: relative;
  margin-top: 14.5vh;
  flex: 1;
  width: 100%;
  text-align: center;
}


.logotext {
  background-color: var(--bg-fade);
  padding: 0.3rem;
  font-size: 5rem;
  font-family: chopin;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: inline;
  width: 15%;
  justify-content: center;
}

.credits {
  margin-bottom: 1rem;
  padding: 0.2rem 1.5rem;
  color: rgb(238, 252, 255);
  background-color: var(--bg-fade);
  border-radius: 4px;
}

.credits>a {
  color: rgb(227, 251, 255);

}



.rightpanel {
  display: flex;
  flex-direction: column;
}

.intro {
  padding-top: 12vh;
  padding-left: var(--left-padding);
  padding-right: 10rem;
  padding-bottom: 2rem;
  background-color: var(--bg-color);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formdata {
  position: relative;
  padding-top: 1.3rem;
  padding-left: var(--left-padding);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 3rem;
  box-shadow: 2px 5px 5px rgb(152, 152, 152);
  margin-bottom:1px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

.datapair {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

label {
  color: rgb(82, 82, 82);
  font-size: 0.57rem;
  font-weight:700;
  letter-spacing:1px;
}

input {
  border-style: none;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  width: 100%;
  line-height: 1.4rem;
}

.password:invalid {
  border: 1px solid red;
  box-shadow: 0 0 3px red; 
}

span.req {
   color: rgb(247, 79, 79);
}


.formrow {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}


.submitsection {
  padding-top: 1rem;
  padding-left: var(--left-padding);
  background-color: var(--bg-color);
  flex: 1;

}

button {
  margin: 0.5rem 0;
  padding: 0.7rem 30px;
  background-color: #d1ab7d;
  border-radius: 4px;
  border-style: none;
  box-shadow: 2px 2px 5px rgb(99, 99, 99);
}
 

p.account {
  margin: 1.2rem 0;
} 


p.account>a {
  color: #daa767;
}